<ion-content [fullscreen]="true" class="content-wrapper">
  <div class="info-container">
    <h1>Bienvenido a nuestra Barbería</h1>
    <p>Somos expertos en cortes de cabello y estilos de barba. ¡Te garantizamos una experiencia única!</p>

    <h2>Ubicación</h2>
    <p>Dirección: Calle Principal #123, Ciudad</p>

    <h2>Contacto</h2>
    <p>Teléfono: (123) 456-7890</p>
    <p>Email: xxxxx0gmail.com</p>

    <h2>Redes Sociales</h2>
    <p>Facebook:xxxxx</p>
    <p>Instagram: xxxxx</p>
  </div>
</ion-content>