// Variables para colores pasteles
$color-primario: #7aa394;  // Verde menta más oscuro
$color-secundario: #99d2ca;  // Verde menta
$color-texto: #444;  // Gris oscuro para el texto

// Estilos generales
ion-content {
  background-color: $color-primario;
  color: $color-texto;
}

ion-toolbar {
  background-color: $color-secundario;
  color: $color-texto;
}

ion-button {
  background-color: $color-primario;
  color: black;
}

// Estilos para el menú
ion-menu ion-content {
  --background: $color-primario;  // Fondo del menú
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: $color-texto;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  background-color: $color-secundario;
  color: $color-texto;

  ion-icon {
    color: $color-texto;
  }

  &.selected {
    --background: rgba(var(--ion-color-primary-rgb), 0.14);
    ion-icon {
      color: var(--ion-color-primary);
    }
  }
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  ion-icon {
    font-size: 24px;
    color: #73849a;  // Ajusta según sea necesario
  }
  &.selected ion-icon {
    color: var(--ion-color-primary);
  }
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

ion-menu.md ion-list {
  padding: 20px 0;
  background-color: $color-primario;
}

ion-menu.md ion-item.selected ion-icon {
  color: #000000;
}
