<ion-header>
  <ion-toolbar>
    <ion-title>{{"Calendario de esta semana"}}</ion-title> <ion-button [disabled]="true">Guardar datos</ion-button>


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Días de la semana -->
    <ion-row class="CeldaDias">
      <!-- Celda vacia -->
      <ion-col class="CeldaVacia"></ion-col>
      <ion-col *ngFor="let dias of DiaSemana" class="CentrarContenido" text-center>{{ dias }}</ion-col>
    </ion-row>

    <!-- Horas y celdas -->
    <ion-row *ngFor="let hora of Horas; let i = index">
      <!-- Columna de horas -->
      <ion-col class="CeldaHoras" text-center>{{ hora }}</ion-col>

      <!-- Celdas del calendario -->
      <ion-col *ngFor="let dia of DiaSemana; let j = index" (click)="clickCeldaCalendario(hora, dia, i, j)" class="CeldaCalendario">
        {{ citas[i][j] }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>