<ion-header>
  <ion-toolbar>
    <ion-title>{{ Mes | date: 'MMMM yyyy' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Días de la semana -->
    <ion-row class="CeldaDias">
      <!-- Celda vacia -->
      <ion-col class="CeldaVacia"></ion-col>
      <ion-col *ngFor="let dias of DiaSemana" class="CentrarContenido" text-center>{{ dias }}</ion-col>
    </ion-row>

    <!-- Horas y celdas -->
    <ion-row *ngFor="let Horas of Horas">
      <!-- Columna de horas -->
      <ion-col class="CeldaHoras" text-center>{{ Horas }}</ion-col>

      <!-- Celdas del calendario -->
      <ion-col *ngFor="let dias of DiaSemana" (click)="selectDay(Horas, dias)" class="CeldaCalendario">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>